* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1faee;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.countdown-heading {
  color: #1d3557;
  font-size: 70px;
}

.countdown-container {
  display: flex;
  flex-direction: row;
}

.container-item {
  display: flex;
  flex-direction: column-reverse;
  margin: 15px;
  text-align: center;
  font-size: 25px;
  color: #457b9d;
}

.container-span {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 30px;
  /* color: #69306d; */
  width: 150px;
  height: 150px;
  text-align: center;
  color: #1d3557;
  background-color: #a8dadc;
}

@media screen and (max-width: 800px) {
  .countdown-container {
    display: flex;
    flex-direction: column;
  }
}
